:root{

--primary: rgb(24, 181, 13);
--secondary: rgb(164, 113, 113);

--text: rgb(41, 218, 179);

}



button{
    background: var(--primary);
    color: var(--secondary);

}




p{
    color: var(--text);
}   


.requirements{
    background: var(--primary);
    padding: 12px 14px;
    margin-top: auto;
    color: var(--secondary);
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 12px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

body{
    background: color-mix(in srgb, var(--primary) 70%, var(--secondary) 30%);
}



#signupform{
    display: none;
}
